@use "/src/styles/base/_variables.scss" as variable;
@use "/src/styles/base/_typography.scss" as typography;
@use "/src/styles/mixins/_layout" as layout;

.tooltip {
  width: fit-content;
  max-width: 100%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltip_content {
  visibility: hidden;
  opacity: 0;
  color: #fff;
  background-color: #8236cc;
  padding: 0.55rem 0.89rem;
  text-align: center;
  min-width: fit-content;
  width: max-content;
  max-width: 320px;
  font-weight: 400;
  height: fit-content;
  border-radius: 6px;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translate(-50%, -0.75rem);
  transition: opacity 0.3s ease-in-out;
  font-size: 0.75rem;
}
.tooltip .tooltip-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #8236cc transparent transparent transparent;
}

.tooltip:hover .tooltip_content {
  visibility: visible;
  opacity: 1;
}
