.background {
  background: rgba(52, 64, 84, 0.7);
  backdrop-filter: blur(8px);
  position: absolute;
  inset: 0;
  z-index: 90;
  width: calc(100% - 103px);
  height: 100%;
  @apply left-0 md:left-[103px] top-[72px] md:top-0;
}

@media (max-width: 768px) {
  .background {
    width: 100%;
  }
}

.container {
  @apply h-full md:h-screen md:pt-14 w-full md:w-[616px] lg:w-[719px] bg-white dark:bg-[#141625] absolute left-0  overflow-clip;
}

.component_container {
  @apply h-full md:max-h-screen  overflow-y-scroll w-full;
}

/* width */
.component_container::-webkit-scrollbar {
  display: none;
}
